/* ROW SIZES - column sizes in html bootstrap template */
/* #row0 {height: 65px;} */
/* #row1 {height: 375px;} */
/* #row2 {height: 65px;} */
/* #row3 {height: 135px;} */
/* #row4 {height: 35px;} */
/* #row5 {height: 65px;} */

#title {
    color: black;
    /* background: red; */
}

#rules {
    color: black;
    /* background: lightgray; */
}

#randomNumTarget {
    /* background: green; */
}

#tally {
    /* background: lightgrey; */
}

/* CRYSTAL BUTTONS */
input {
    /* keep image width within column size
    also done by .img-fluid class in bootstap */
    width: 100%;
}
#blueCrystalButton {
    /* padding-top: 5%; */
    /* background: blue; */
    }
#silverCrystalButton {
    /* background: silver; */
}
#orangeCrystalButton {
    /* background: orange; */
}
#pinkCrystalButton {
    /* background: pink; */
}